body {
	// background-color: #fdf6e3;
        background-color: #002b36;
}

.hs-identifier {
	// color: #073642;
        color: #839496;
}

.hs-identifier.hs-var {
}

.hs-identifier.hs-type {
	color: #d33682;
}

.hs-keyword {
	color: #6c71c4;
        font-weight: bold;
}

.hs-string, .hs-char {
	color: #cb4b16;
}

.hs-number {
	color: #2aa198;
}

.hs-operator {
	color: #dc322f;
}

.hs-glyph, .hs-special {
	color: #dc322f;
}

.hs-comment {
	color: #586e75;
}

.hs-pragma {
	color: #cb4b16;
}

.hs-cpp {
	color: #cb4b16;
}

a:link, a:visited {
	text-decoration: none;
	border-bottom: 1px solid #586e75;
}

a:hover, a.hover-highlight {
	background-color: #073642;
}

span.annot{
    position:relative;
    color:#000;
    text-decoration:none
  }

span.annot:hover {
    z-index:25;
    background-color: #073642;
}

span.annot span.annottext{
  display: none;
  border-radius: 5px 5px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 1em; top: 2em;
  z-index: 99;
  margin-left: 5;
  background: #b58900;
  border: 2px solid #cb4b16;
  padding: 0.8em 1em;
}

span.annot:hover span.annottext{
  display:block;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
span.annot span.annottext:before{
  content: "";
  position: absolute;
  left: -1em; top: -1em;
  background: #FFFFFF00;
  z-index:-1;
  padding: 2em 2em;
}
